html, body { height: 100%; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-size: 110%; font-weight: 300;}
h1{
        display: block;
        margin: 1px 0;
        padding: 15px 0px;
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        background-color: #333;
        color: #fff;
}
#map { height: 100%; }
#routes-wrapper{
        display:block;
        width:90%;
        margin:0 auto;
}
a.route{
        display: block;
        float:left;
        font-size:125%;
        width: 75px;
        height: 75px;
        line-height:75px;
        vertical-align: middle;
        text-decoration: none;
        color: #fff;
        background-color: #0085b2;
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-weight: 200;
        border-radius:180px;
}
.toolbar{
        display: block;
        background-color: #0085b2;
        color: #fff;
        padding: 5px 10px;
        height: 30px;
        width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        cursor: pointer;
}
.toolbar-dropdown{
        display: none;
        position: absolute;
        background-color: #333;
        top: 50px;
        right: 10px;
        padding:0px;
        width: 20%;
        min-width: 200px;
        z-index: 2000;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
}
a.toolbar-button{
        display: block;
        cursor: pointer;
        padding: 10px 10%;
        margin: 2px 0px 0px 0px;
        width: 80%;
        height: 100%;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
        color: #fff
}
